/*
// Andrew Blackbourn 000129408
// StAuthcomp10125: I Andrew Blackbourn, 000129408 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else.
*/
#frontend_style {
    width: 100%;
}
#frontend_style td {
    width: 50%;
}
.noshow {
    display: none;
}
.slider {
	margin: 0px;
	margin-left: 92px;
	width: 200px;
	top: 3px;
}
#frontend_style label {
	float: left;
    min-width: 100px;
}
#frontend_style input, .picker {
    float: left;
    clear: left;
}
form#frontend_style .form_input_result {
	width: 100px;
	text-align: center;
	margin-top: 25px;
	padding: 5px;
	float: left;
	clear: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

form#frontend_style table {
	display: none;
}

form#frontend_style input.hide {
    display: none;
}
