/*
Andrew Blackbourn 000129408
StAuthcomp10125: I Andrew Blackbourn, 000129408 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else.

All css files for the backend. Frontend styles are either the default used by the WP theme, or dynamically generated based on WP options
*/
.clear {
	clear: both;
}
.php_faq.new_question .error, .listquestions .error {
	color: red;
    font-size: 16px;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	padding: 2px;
}
.php_faq.new_question .succes, .listquestions .success {
	color: green;
	font-weight: bold;
	background-color: white;
	border: 1px solid black;
	padding: 2px;
}
.php_faq_question_form label, .listquestions label, .php_faq.new_question label {
    float: left;
    width: 100px;
}

.php_faq_list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.php_faq_list .faq_item {
    margin: 5px;
    padding: 10px;
    background-color: #FF6666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    border:2px solid;
    width: 100%;
    -webkit-transition:color 0.5s ease-in;  
    -webkit-transition:background-color 0.5s ease-in;  
}

.php_faq_list .faq_item.published {
	background-color: #66FF66;
    -webkit-transition:color 0.5s ease-in;  
    -webkit-transition:background-color 0.5s ease-in;  
}

.php_faq_list .faq_item #li_faq_question {
	font-weight: bold;
}
.php_faq.new_question {
    /* Hide this initially while the jquery hides the error labels */
    visibility: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.php_faq_list .delete {
    color: #FFF!important;
    background-color: #880000!important;
    transition:color 0.5s ease-in;  
    -moz-transition:color 0.5s ease-in;  
    -webkit-transition:color 0.5s ease-in;  
    
    transition:background-color 0.5s ease-in;  
    -moz-transition:background-color 0.5s ease-in;  
    -webkit-transition:background-color 0.5s ease-in;  
    
}
.php_faq_list img.delete_icon {
    transform: scale(0, 0);
    height: 0px;
    transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
	margin-left: auto;
	margin-right: auto;
    display: block;
}

.php_faq_list .delete img.delete_icon {
    transform: scale(1, 1);
    height: 64px;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
